Nombre: Cristian
Apellido: Genovese
División: 1A
Fecha: {{ ansible_date_time.date }}
-------------------------
Distribución: {{ ansible_distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}

